
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffdd0;
}

.titleheader{
  text-align: center;
  font-family: sans-serif;
  background-color: #fffdd0;

}
.header {
  background-color: #DAD870;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #FF7F50;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #FFBF00;
  color: black;
}


.responsive {
  padding: 20px 20px;
  float: left;
  width: 24.99999%;
}

.aboutusbody{
  font-size: 29px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav {
	overflow: hidden;
	background-color: #FF7F50;
}

.nav a {
	color: white;
	float: left;
	display: block;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.nav a.AboutUsNav {
	float: right;
}

.nav a:hover {
	color: black;
  background-color: #FFBF00;
}
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 10px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
