* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fffdd0
}

.titleheader{
  text-align: center;
  font-family: sans-serif;

}
.header {
  background-color: #DAD870;
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #FF7F50;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.topnav a:hover {
  background-color: #FFBF00;
  color: black;
}
.topnav a.AboutUSNAV{
  float: right;
}
.checked {
  color: orange;
}

.starsalign{
  text-align:center;
}

div.gallery {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  float: center;
  width: 200px;
  border-radius: 10px;
  background-color: #DAD870;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 20px 20px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 10px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
